/* Fonts */
.MainMenu-links .link,
.MainMenu-footer {
  color: var(--black);
  font-size: var(--font-size-big);
  font-family: var(--font-regular);
}

.MainMenu-logo .game-title {
  font-size: var(--font-size-title-form);
  color: var(--light-blue);
}

.MainMenu-logo .game-title > span {
  border-bottom: 5px var(--white) solid;
}

/* Links */
.MainMenu-links .link {
  margin: 0.5rem 0rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}

.MainMenu-links .active {
  background: var(--light-blue);
}

/* Footer */
.MainMenu-footer {
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  min-width: 70%;
  background: linear-gradient(
    to right bottom,
    var(--blue) 0%,
    var(--light-blue) 100%
  );

  color: var(--white);
}
